body{
    overflow-x: hidden;
}
section{
    max-width: 100%;
}

#mainbanner{
    background: linear-gradient(55deg, rgba(71,62,139,1) 0%, rgba(29,13,65,1) 34%, rgba(29,13,65,1) 60%, rgba(44,18,86,1) 100%);
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:  2% 0 0 10% ;
}

.mainbanner-text{
    min-width: 30vw;
    max-width: 40vw;
}

.mainbanner-text p{
    color: #fff;
}

.mockuphome{
    position: relative;
    top:15%;
    max-width: 48vw;
    box-sizing: border-box;

}

#slogan, #presentationsection, #donation {
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
}

#slogantxt {
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
}

#presentationtext {
    padding: 3%;
}

#handpointer  {
    position: absolute;
    width: 9rem;
    z-index: 1;
    align-self: flex-end;
}

.call {
    display: flex ;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem 12rem;
    box-sizing: border-box;
}


.parallaxelements{
    width: 100%;
   
}

#ballon1{
position: absolute;  
right: -20px;
top:-20px;

}

#ballon2{
    position: absolute;  
    left: -40px;
    top:90px;

}


@media only screen and (max-width: 912px){
    #slogan, #presentationsection, #donation {
        margin: 20% 10%;
    }

    #slogan{
        margin: 10% 5%;
        gap:10px

    }

#presentationsection, #mainbanner{
    flex-direction: column-reverse;
}

#presentationsection img{
    max-width: 100%;
}

.call{
    padding: 2rem;
}

.button{
    margin: 10% 3% 10% 3%;
    padding: 6% 18% ;
}

#handpointer {
    width: 6rem;
}

.topmenu__mobile {
    display: flex;
    justify-content: flex-end;
    position:absolute;
}
#mainbanner{
    padding:10% 0 10% 5% ;
    max-width: 100%;
    height: 70vh;
}

.mainbanner-text{
    max-width: 85vw;
}

.mockuphome{
    top:5%;
    max-width: 96vw;
    z-index: 99;

}

#ballon1{
    width: 35%;
    top:400px;
   right: -4px;


    }
    
#ballon2{
    width: 40%;
    left: -20px;
    top:-15px;
    }
    

}